@font-face {
    font-family: octagon;
    src: url(fonts/octagonVF.woff2);
}

:root {
    /*--foreground: #ff1f1f;*/
    --foreground: #ff1f1f;
    /*--background: #1e90ff;*/
    --background: #fff;
}

html, body {
}

html {
    font-family: octagon;
    height: auto;
    /*background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 11%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 57%, rgba(253,187,45,1) 92%);*/
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-color: var(--background);*/
    margin: 12px 8px;
}

h1 {
}

a{
    color: inherit;
    text-decoration-thickness: 2px;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.sample-0 {
    font-family: octagon;
    overflow: hidden;
    font-size: 960px;
    line-height: 0.64;
    text-align: center;
    width: 100%;
    height: auto;
    max-height: 100vh;
    padding-bottom: 48px;
    padding-top: 16px;
}

.sample-1 {
    border-top: 2px solid;
    font-family: octagon;
    overflow: hidden;
    font-size: 388px;
    line-height: 0.64;
    letter-spacing: 0.002em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
    padding-top: 16px;
}

.sample-2 {
    border-top: 2px solid;
    padding-top: 14px;
    font-family: octagon;
    overflow-x: hidden;
    font-size: 244px;
    line-height: 0.64;
    letter-spacing: 0.005em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}
#id8 {
    line-height: 0.78;
}


.sample-3 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 168px;
    line-height: 0.68;
    letter-spacing: 0.01em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.sample-4 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 98px;
    line-height: 0.64;
    letter-spacing: 0.02em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.sample-5 {
    border-top: 2px solid;
    display: inline-block;
    overflow-x: hidden;
    padding-top: 14px;
    font-family: octagon;
    font-size: 48px;
    line-height: 0.76;
    letter-spacing: 0.04em;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    font-size: 64px;
    line-height: 0.64;
    padding-top: 96px;
    text-align: center;
    vertical-align: middle;
    display: none;
    position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
    left: 0;
}


.hrot-30 {
    display: inline-block;
    font-variation-settings: 'HROT' 30, 'VROT' 0;
}

.hrot--30 {
    display: inline-block;
    font-variation-settings: 'HROT' -30, 'VROT' 0;
}

.vrot-30 {
    display: inline-block;
    font-variation-settings: 'HROT' 0, 'VROT' 30;
}

.vrot--30 {
    display: inline-block;
    font-variation-settings: 'HROT' 0, 'VROT' -30;
}

.break {
    overflow-wrap: anywhere;
    line-height: 0.94;
}

#id10{
    line-height: 0.56;
}
#id11{
    border-top: 2px solid;
    text-decoration: none;
}



/*              Media queries               */

@media only screen and (max-width: 1600px) {
    .sample-0 {
        font-size: 720px;
    }

    .sample-1 {
        font-size: 244px;
        letter-spacing: 0.01em;
    }

    .sample-2 {
        font-size: 168px;
        letter-spacing: 0.015em;
    }


    .sample-3 {
        font-size: 98px;
        letter-spacing: 0.025em;
    }

    .sample-4 {
        font-size: 72px;
        line-height: 0.66;
        letter-spacing: 0.04em;
    }

    .sample-5 {
        font-size: 36px;
        line-height: 0.8;
        letter-spacing: 0.05em;
    }
}

@media only screen and (max-width: 1080px) {
    .sample-0 {
        font-size: 480px;
        padding-bottom: 24px;
    }

    .sample-1 {
        font-size: 168px;
        letter-spacing: 0.015em;
        padding-bottom: 24px;
    }

    .sample-2 {
        font-size: 98px;
        letter-spacing: 0.025em;
        padding-bottom: 24px;
    }


    .sample-3 {
        font-size: 72px;
        line-height: 0.76;
        letter-spacing: 0.04em;
        padding-bottom: 24px;
    }

    .sample-4 {
        font-size: 64px;
        padding-bottom: 24px;
    }

    .sample-5 {
        padding-bottom: 24px;
    }
}

@media only screen and (max-width: 960px) {
    .sample-0 {
        font-size: 360px;
    }

    .sample-1 {
        font-size: 128px;
    }

    .sample-2 {
        font-size: 80px;
        letter-spacing: 0.025em;
    }


    .sample-3 {
        font-size: 64px;
        line-height: 0.76;
        letter-spacing: 0.04em;
    }

    .sample-4 {
        font-size: 52px;
    }

    .sample-5 {
        font-size: 24px;
    }
}


@media only screen and (max-width: 580px) {
    .sample-0 {
        font-size: 280px;
    }

    .sample-1 {
        font-size: 96px;
    }

    .sample-2 {
        font-size: 72px;
        letter-spacing: 0.025em;
    }


    .sample-3 {
        font-size: 56px;
        line-height: 0.76;
        letter-spacing: 0.04em;
    }

    .sample-4 {
        font-size: 48px;
    }

    .sample-5 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 440px) {
    .sample-0 {
        font-size: 220px;
    }

    .sample-1 {
        font-size: 80px;
    }

    .sample-2 {
        font-size: 64px;
        letter-spacing: 0.025em;
    }


    .sample-3 {
        font-size: 52px;
        line-height: 0.76;
        letter-spacing: 0.04em;
        padding-bottom: 16px;
    }

    .sample-4 {
        font-size: 36px;
        padding-bottom: 16px;
    }

    .sample-5 {
        padding-bottom: 16px;
    }
}

@media (pointer: coarse) {
    .overlay {
        display: block;
    }
}