<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Virtual Master</key>
    <array>
      <dict>
        <key>Axis</key>
        <string>Horizontal Rotation</string>
        <key>Location</key>
        <integer>-30</integer>
      </dict>
      <dict>
        <key>Axis</key>
        <string>Vertical Rotation</string>
        <key>Location</key>
        <integer>-30</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>-30</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>-30</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>B</string>
      <string>Bdotaccent</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcedilla</string>
      <string>Dcroat</string>
      <string>Ddotaccent</string>
      <string>Ddotbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>Fdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcaron</string>
      <string>Hcircumflex</string>
      <string>Hdotaccent</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcaron</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ldotbelow</string>
      <string>Lslash</string>
      <string>M</string>
      <string>Mdotaccent</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ngrave</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotaccent</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Pdotaccent</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelow</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotaccent</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>Vtilde</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>b</string>
      <string>bdotaccent</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcedilla</string>
      <string>dcroat</string>
      <string>ddotaccent</string>
      <string>ddotbelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>f</string>
      <string>fdotaccent</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcaron</string>
      <string>hcircumflex</string>
      <string>hdotaccent</string>
      <string>hdotbelow</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kcaron</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>ldotbelow</string>
      <string>lslash</string>
      <string>m</string>
      <string>mdotaccent</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ngrave</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotaccent</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>pdotaccent</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdotbelow</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotaccent</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>vtilde</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>.notdef</string>
      <string>space</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>minute</string>
      <string>second</string>
      <string>plus</string>
      <string>minus</string>
      <string>equal</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>hungarumlautcomb.case</string>
      <string>circumflexcomb.case</string>
      <string>caroncomb.case</string>
      <string>brevecomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>dotbelowcomb.case</string>
      <string>commaaccentcomb.case</string>
      <string>cedillacomb.case</string>
      <string>ogonekcomb.case</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>diagonals</string>
      <string>horizontals</string>
      <string>verticals</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>AE</key>
      <string>base</string>
      <key>AEacute</key>
      <string>base</string>
      <key>Aacute</key>
      <string>base</string>
      <key>Abreve</key>
      <string>base</string>
      <key>Acaron</key>
      <string>base</string>
      <key>Acircumflex</key>
      <string>base</string>
      <key>Adieresis</key>
      <string>base</string>
      <key>Agrave</key>
      <string>base</string>
      <key>Amacron</key>
      <string>base</string>
      <key>Aogonek</key>
      <string>base</string>
      <key>Aring</key>
      <string>base</string>
      <key>Atilde</key>
      <string>base</string>
      <key>B</key>
      <string>base</string>
      <key>Bdotaccent</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>Cacute</key>
      <string>base</string>
      <key>Ccaron</key>
      <string>base</string>
      <key>Ccedilla</key>
      <string>base</string>
      <key>Ccircumflex</key>
      <string>base</string>
      <key>Cdotaccent</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>Dcaron</key>
      <string>base</string>
      <key>Dcedilla</key>
      <string>base</string>
      <key>Ddotaccent</key>
      <string>base</string>
      <key>Ddotbelow</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>Eacute</key>
      <string>base</string>
      <key>Ebreve</key>
      <string>base</string>
      <key>Ecaron</key>
      <string>base</string>
      <key>Ecircumflex</key>
      <string>base</string>
      <key>Edieresis</key>
      <string>base</string>
      <key>Edotaccent</key>
      <string>base</string>
      <key>Edotbelow</key>
      <string>base</string>
      <key>Egrave</key>
      <string>base</string>
      <key>Emacron</key>
      <string>base</string>
      <key>Eogonek</key>
      <string>base</string>
      <key>Etilde</key>
      <string>base</string>
      <key>F</key>
      <string>base</string>
      <key>Fdotaccent</key>
      <string>base</string>
      <key>G</key>
      <string>base</string>
      <key>Gbreve</key>
      <string>base</string>
      <key>Gcaron</key>
      <string>base</string>
      <key>Gcircumflex</key>
      <string>base</string>
      <key>Gcommaaccent</key>
      <string>base</string>
      <key>Gdotaccent</key>
      <string>base</string>
      <key>Gmacron</key>
      <string>base</string>
      <key>H</key>
      <string>base</string>
      <key>Hcaron</key>
      <string>base</string>
      <key>Hcircumflex</key>
      <string>base</string>
      <key>Hdotaccent</key>
      <string>base</string>
      <key>Hdotbelow</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>IJ</key>
      <string>base</string>
      <key>Iacute</key>
      <string>base</string>
      <key>Ibreve</key>
      <string>base</string>
      <key>Icaron</key>
      <string>base</string>
      <key>Icircumflex</key>
      <string>base</string>
      <key>Idieresis</key>
      <string>base</string>
      <key>Idotaccent</key>
      <string>base</string>
      <key>Idotbelow</key>
      <string>base</string>
      <key>Igrave</key>
      <string>base</string>
      <key>Imacron</key>
      <string>base</string>
      <key>Iogonek</key>
      <string>base</string>
      <key>Itilde</key>
      <string>base</string>
      <key>J</key>
      <string>base</string>
      <key>Jcircumflex</key>
      <string>base</string>
      <key>K</key>
      <string>base</string>
      <key>Kcaron</key>
      <string>base</string>
      <key>Kcommaaccent</key>
      <string>base</string>
      <key>L</key>
      <string>base</string>
      <key>Lacute</key>
      <string>base</string>
      <key>Lcaron</key>
      <string>base</string>
      <key>Lcommaaccent</key>
      <string>base</string>
      <key>Ldot</key>
      <string>base</string>
      <key>Ldotbelow</key>
      <string>base</string>
      <key>M</key>
      <string>base</string>
      <key>Mdotaccent</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>Nacute</key>
      <string>base</string>
      <key>Ncaron</key>
      <string>base</string>
      <key>Ncommaaccent</key>
      <string>base</string>
      <key>Ndotaccent</key>
      <string>base</string>
      <key>Ngrave</key>
      <string>base</string>
      <key>Ntilde</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>OE</key>
      <string>base</string>
      <key>Oacute</key>
      <string>base</string>
      <key>Obreve</key>
      <string>base</string>
      <key>Ocaron</key>
      <string>base</string>
      <key>Ocircumflex</key>
      <string>base</string>
      <key>Odieresis</key>
      <string>base</string>
      <key>Odotaccent</key>
      <string>base</string>
      <key>Odotbelow</key>
      <string>base</string>
      <key>Ograve</key>
      <string>base</string>
      <key>Ohungarumlaut</key>
      <string>base</string>
      <key>Omacron</key>
      <string>base</string>
      <key>Oogonek</key>
      <string>base</string>
      <key>Oslash</key>
      <string>base</string>
      <key>Oslashacute</key>
      <string>base</string>
      <key>Otilde</key>
      <string>base</string>
      <key>P</key>
      <string>base</string>
      <key>Pdotaccent</key>
      <string>base</string>
      <key>R</key>
      <string>base</string>
      <key>Racute</key>
      <string>base</string>
      <key>Rcaron</key>
      <string>base</string>
      <key>Rcommaaccent</key>
      <string>base</string>
      <key>Rdotbelow</key>
      <string>base</string>
      <key>S</key>
      <string>base</string>
      <key>Sacute</key>
      <string>base</string>
      <key>Scaron</key>
      <string>base</string>
      <key>Scedilla</key>
      <string>base</string>
      <key>Scircumflex</key>
      <string>base</string>
      <key>Scommaaccent</key>
      <string>base</string>
      <key>Sdotaccent</key>
      <string>base</string>
      <key>Sdotbelow</key>
      <string>base</string>
      <key>T</key>
      <string>base</string>
      <key>Tcaron</key>
      <string>base</string>
      <key>Tcedilla</key>
      <string>base</string>
      <key>Tcommaaccent</key>
      <string>base</string>
      <key>Tdotaccent</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>Uacute</key>
      <string>base</string>
      <key>Ubreve</key>
      <string>base</string>
      <key>Ucaron</key>
      <string>base</string>
      <key>Ucircumflex</key>
      <string>base</string>
      <key>Udieresis</key>
      <string>base</string>
      <key>Udotbelow</key>
      <string>base</string>
      <key>Ugrave</key>
      <string>base</string>
      <key>Uhungarumlaut</key>
      <string>base</string>
      <key>Umacron</key>
      <string>base</string>
      <key>Uogonek</key>
      <string>base</string>
      <key>Uring</key>
      <string>base</string>
      <key>Utilde</key>
      <string>base</string>
      <key>V</key>
      <string>base</string>
      <key>Vtilde</key>
      <string>base</string>
      <key>W</key>
      <string>base</string>
      <key>Wacute</key>
      <string>base</string>
      <key>Wcircumflex</key>
      <string>base</string>
      <key>Wdieresis</key>
      <string>base</string>
      <key>Wgrave</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Yacute</key>
      <string>base</string>
      <key>Ycircumflex</key>
      <string>base</string>
      <key>Ydieresis</key>
      <string>base</string>
      <key>Ygrave</key>
      <string>base</string>
      <key>Ymacron</key>
      <string>base</string>
      <key>Ytilde</key>
      <string>base</string>
      <key>Z</key>
      <string>base</string>
      <key>Zacute</key>
      <string>base</string>
      <key>Zcaron</key>
      <string>base</string>
      <key>Zdotaccent</key>
      <string>base</string>
      <key>Zdotbelow</key>
      <string>base</string>
      <key>acutecomb.case</key>
      <string>mark</string>
      <key>brevecomb.case</key>
      <string>mark</string>
      <key>caroncomb.case</key>
      <string>mark</string>
      <key>cedillacomb.case</key>
      <string>mark</string>
      <key>circumflexcomb.case</key>
      <string>mark</string>
      <key>commaaccentcomb.case</key>
      <string>mark</string>
      <key>dieresiscomb.case</key>
      <string>mark</string>
      <key>dotaccentcomb.case</key>
      <string>mark</string>
      <key>dotbelowcomb.case</key>
      <string>mark</string>
      <key>gravecomb.case</key>
      <string>mark</string>
      <key>hungarumlautcomb.case</key>
      <string>mark</string>
      <key>macroncomb.case</key>
      <string>mark</string>
      <key>ogonekcomb.case</key>
      <string>mark</string>
      <key>ringcomb.case</key>
      <string>mark</string>
      <key>tildecomb.case</key>
      <string>mark</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>Acaron</key>
      <string>uni01CD</string>
      <key>Bdotaccent</key>
      <string>uni1E02</string>
      <key>Dcedilla</key>
      <string>uni1E10</string>
      <key>Ddotaccent</key>
      <string>uni1E0A</string>
      <key>Ddotbelow</key>
      <string>uni1E0C</string>
      <key>Edotbelow</key>
      <string>uni1EB8</string>
      <key>Etilde</key>
      <string>uni1EBC</string>
      <key>Fdotaccent</key>
      <string>uni1E1E</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Gmacron</key>
      <string>uni1E20</string>
      <key>Hcaron</key>
      <string>uni021E</string>
      <key>Hdotaccent</key>
      <string>uni1E22</string>
      <key>Hdotbelow</key>
      <string>uni1E24</string>
      <key>Icaron</key>
      <string>uni01CF</string>
      <key>Idotbelow</key>
      <string>uni1ECA</string>
      <key>Kcaron</key>
      <string>uni01E8</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ldotbelow</key>
      <string>uni1E36</string>
      <key>Mdotaccent</key>
      <string>uni1E40</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Ndotaccent</key>
      <string>uni1E44</string>
      <key>Ngrave</key>
      <string>uni01F8</string>
      <key>Ocaron</key>
      <string>uni01D1</string>
      <key>Odotaccent</key>
      <string>uni022E</string>
      <key>Odotbelow</key>
      <string>uni1ECC</string>
      <key>Oogonek</key>
      <string>uni01EA</string>
      <key>Pdotaccent</key>
      <string>uni1E56</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Rdotbelow</key>
      <string>uni1E5A</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Sdotaccent</key>
      <string>uni1E60</string>
      <key>Sdotbelow</key>
      <string>uni1E62</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>Tdotaccent</key>
      <string>uni1E6A</string>
      <key>Ucaron</key>
      <string>uni01D3</string>
      <key>Udotbelow</key>
      <string>uni1EE4</string>
      <key>Vtilde</key>
      <string>uni1E7C</string>
      <key>Ymacron</key>
      <string>uni0232</string>
      <key>Ytilde</key>
      <string>uni1EF8</string>
      <key>Zdotbelow</key>
      <string>uni1E92</string>
      <key>acaron</key>
      <string>uni01CE</string>
      <key>bdotaccent</key>
      <string>uni1E03</string>
      <key>brevecomb.case</key>
      <string>uni0306.case</string>
      <key>caroncomb.case</key>
      <string>uni030C.case</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>commaaccentcomb.case</key>
      <string>uni0326.case</string>
      <key>dcedilla</key>
      <string>uni1E11</string>
      <key>ddotaccent</key>
      <string>uni1E0B</string>
      <key>ddotbelow</key>
      <string>uni1E0D</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dotaccentcomb.case</key>
      <string>uni0307.case</string>
      <key>edotbelow</key>
      <string>uni1EB9</string>
      <key>etilde</key>
      <string>uni1EBD</string>
      <key>fdotaccent</key>
      <string>uni1E1F</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>gmacron</key>
      <string>uni1E21</string>
      <key>hcaron</key>
      <string>uni021F</string>
      <key>hdotaccent</key>
      <string>uni1E23</string>
      <key>hdotbelow</key>
      <string>uni1E25</string>
      <key>hungarumlautcomb.case</key>
      <string>uni030B.case</string>
      <key>icaron</key>
      <string>uni01D0</string>
      <key>idotaccent</key>
      <string>i.loclTRK</string>
      <key>idotbelow</key>
      <string>uni1ECB</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>kcaron</key>
      <string>uni01E9</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>ldotbelow</key>
      <string>uni1E37</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>mdotaccent</key>
      <string>uni1E41</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>ndotaccent</key>
      <string>uni1E45</string>
      <key>ngrave</key>
      <string>uni01F9</string>
      <key>ocaron</key>
      <string>uni01D2</string>
      <key>odotaccent</key>
      <string>uni022F</string>
      <key>odotbelow</key>
      <string>uni1ECD</string>
      <key>ogonekcomb.case</key>
      <string>uni0328.case</string>
      <key>oogonek</key>
      <string>uni01EB</string>
      <key>pdotaccent</key>
      <string>uni1E57</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>rdotbelow</key>
      <string>uni1E5B</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>sdotaccent</key>
      <string>uni1E61</string>
      <key>sdotbelow</key>
      <string>uni1E63</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>tdotaccent</key>
      <string>uni1E6B</string>
      <key>ucaron</key>
      <string>uni01D4</string>
      <key>udotbelow</key>
      <string>uni1EE5</string>
      <key>vtilde</key>
      <string>uni1E7D</string>
      <key>ymacron</key>
      <string>uni0233</string>
      <key>ytilde</key>
      <string>uni1EF9</string>
      <key>zdotbelow</key>
      <string>uni1E93</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>diagonals</string>
      <string>horizontals</string>
      <string>verticals</string>
    </array>
  </dict>
</plist>
