<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.Colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>OE</string>
    </array>
    <key>public.kern1.Hyphen</key>
    <array>
      <string>periodcentered</string>
      <string>hyphen</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcaron</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcedilla</string>
      <string>Dcroat</string>
      <string>Ddotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcommaaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotaccent</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Pdotaccent</string>
      <string>Thorn</string>
    </array>
    <key>public.kern1.Period</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelow</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>Uring</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>Vtilde</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesblbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.Colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.Dcroat</key>
    <array>
      <string>Eth</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern2.Hyphen</key>
    <array>
      <string>periodcentered</string>
      <string>hyphen</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>Ldot</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcommaaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotaccent</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.Period</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotaccent</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>Vtilde</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesblbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
  </dict>
</plist>
